python                    3.12.4          h194c7f8_0_cpython    conda-forge

pyserial                  3.5                pyhd8ed1ab_0    conda-forge
keyboard                  0.13.5          py312h7900ff3_3    conda-forge
pymupdf                   1.24.5          py312hf930fe3_1    conda-forge
